<?xml version="1.0" encoding="UTF-8"?>
<web-app  version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xmlns="http://java.sun.com/xml/ns/javaee" 
          xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
          xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Sacerdips</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>60</session-timeout>
        <cookie-config>
            <http-only>${web.session-config.cookie-config.http-only}</http-only>
            <secure>${web.session-config.cookie-config.secure}</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>spagoLiteTags</taglib-uri>
            <taglib-location>/WEB-INF/tld/spagoLite.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>spagoLitePrototypeTags</taglib-uri>
            <taglib-location>/WEB-INF/tld/slPrototype.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>spagoLiteFormTags</taglib-uri>
            <taglib-location>/WEB-INF/tld/slForm.tld</taglib-location>
        </taglib>
    </jsp-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>JSP webapp</web-resource-name>
            <url-pattern>/jsp/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>
    <error-page>
        <error-code>401</error-code>
        <location>/jsp/login/notAuthorized.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/jsp/notAuthorizedError.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/jsp/notAllowedError.jsp</location>
    </error-page>    
    <error-page>
        <error-code>500</error-code>
        <location>/jsp/genericError.jsp</location>
    </error-page>
    <persistence-unit-ref>
        <persistence-unit-ref-name>jpa/DispenserJPA</persistence-unit-ref-name>
        <persistence-unit-name>DispenserJPA</persistence-unit-name>
    </persistence-unit-ref>
</web-app>