/dispenser-slg/target/
/dispenser-ejb/target/
/dispenser-conf/target/
/dispenser-web/target/
/dispenser-ear/target/
/dispenser-jpa/target/
/ears/
/target/
/dispenser-ear/src/main/application/META-INF/jboss-app.xml
/**/nb-configuration.xml
/.idea/
/**/*.iml
/**/.classpath
/**/.project
/**/.settings/
.project
.settings/
.vscode/

